body{
    background-image: url(images/comp3.jpg);
    background-size: cover;
    color: #fff;
}

.container {
    width: 30%;
    margin-top: 2%;
    box-shadow: 0 3px 20px rgba(0,0,0,0.3);
    padding: 40px;
}

button {
    width: 48%;
}

a {
    width: 48%;
}